<?xml version="1.0" encoding="UTF-8"?>
<launch>        
    <node pkg="tf_to_path" name="gt_to_path" type="gt_intel.py"  output="screen">        
        <param name="base_frame" value="/base_link" />
        <param name="cam_frame" value="/d400_color" /> 
        <param name="gt_topic" value="/gt" /> 
    </node>
</launch>
